<!-- VSArrange用設定情報 -->

<!-- プロジェクト要素追加除外情報 -->
<filters>
  <file>
    <filter name="VisualStudioファイル" enable="True">\.(csproj|user|sln|suo|pdb)$</filter>
  </file>
  <folder>
    <filter name="Subversionフォルダ" enable="True">\.svn</filter>
    <filter name="VisualStudioフォルダ" enable="True">^(bin|obj)$</filter>
    <filter name="R#フォルダ" enable="True">^_ReSharper</filter>
  </folder>
</filters>