<koropokkur>
  <!-- テスト時はこの設定ファイルを使用して確認する -->
  <filters>
    <file>
      <filter name="VisualStudioファイル" enable="True">\.(csproj|vbp|vip|vbproj|vcproj|vdproj|user|sln|suo|pdb)$</filter>
      <filter name="DLL,EXE" enable="True">\.(dll|exe)</filter>
      <filter name="DLL,EXE対象外" enable="False">\.(dll|exe)x</filter>
      <filter name="対象外テスト用" enable="True">Hoge</filter>
    </file>
    <folder>
      <filter name="Subversionフォルダ" enable="True">\.svn</filter>
      <filter name="VisualStudioフォルダ" enable="True">^(bin|obj)$</filter>
      <filter name="R#フォルダ" enable="True">^_ReSharper</filter>
      <filter name="除外対象外フォルダ" enable="False">OutofTarget</filter>
    </folder>
    <compile>
      <filter name="CSファイル" enable="True">\.cs</filter>
      <filter name="CSファイル対象外" enable="False">\.csx</filter>
    </compile>
    <resource>
      <filter name="SQLファイル" enable="True">\.sql</filter>
      <filter name="diconファイル対象外" enable="False">\.diconx</filter>
    </resource>
    <contents>
      <filter name="contentsファイル" enable="True">\.cts</filter>
      <filter name="contentsファイル対象外" enable="False">\.ctsx</filter>
    </contents>
    <no_action>
      <filter name="noactionファイル" enable="True">\.na</filter>
      <filter name="noactionファイル対象外" enable="False">\.nax</filter>
    </no_action>
    <no_copy>
      <filter name="CSファイル" enable="True">\.cs</filter>
      <filter name="CSファイル対象外" enable="False">\.csx</filter>
    </no_copy>
    <everytime_copy>
      <filter name="設定ファイル" enable="True">\.config</filter>
      <filter name="設定ファイル対象外" enable="False">\.configx</filter>
    </everytime_copy>
    <copy_if_new>
      <filter name="新ファイル" enable="True">\.new</filter>
      <filter name="新ファイル対象外" enable="False">\.newx</filter>
    </copy_if_new>
  </filters>
  <output_result>
    <window>
      <detail name="" enable="True">
      </detail>
    </window>
    <file>
      <detail name="" enable="True"></detail>
    </file>
  </output_result>
</koropokkur>